@page
@model IndexModel
@{
    ViewData["Title"] = "Employee List";
}
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        function showDeleteConfirmation(ssn) {
            Swal.fire({
                title: 'Are you sure?',
                text: 'You are about to delete an employee.',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.isConfirmed) {
                    // User clicked 'Yes', perform delete action or show success message
                    Swal.fire({
                        title: 'Employee Deleted',
                        text: 'Employee deleted successfully.',
                        icon: 'success'
                    });
                    
                } else {
                   
                    Swal.fire('No Employee Deleted', '', 'info');
                }
            });
        }
    </script>
}
<div class="text-center">
    <h1 class="display-4">Razor Pages</h1>
</div>
<h1>@ViewData["Title"]</h1>

<div>
    <a asp-page="Create" class="btn btn-success">Add Employee</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>SSN</th>
            <th>Name</th>
            <th>Department Number</th>
            <th>Supervisor SSN</th>
            <th>Salary</th>
            <th>Sex</th>
            <th>Birthdate</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model.Employees)
        {
            <tr>
                <td>@employee.ssn</td>
                <td>@employee.Fname @employee.Minit @employee.Lname</td>
                <td>@employee.Dnumber</td>
                <td>@employee.Super_ssn</td>
                <td>@employee.Salary</td>
                <td>@employee.Sex</td>
                <td>@employee.Bdate</td>
                <td>@employee.Address</td>
                <td>
                    <a asp-page="Edit" asp-route-ssn="@employee.ssn" class="btn btn-warning" style="background-color: green; color: white;">Update</a>
                    
    <button class="btn btn-danger" style="background-color: green; color: white;"
            onclick="showDeleteConfirmation('@employee.ssn')">
        Delete
    </button>

                </td>
            </tr>
        }
    </tbody>
</table>
